<launch>
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" args="0.04 0 0.11 0 0 0 /base_link /laser 100"/>
  <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_base_link" args="0 0 0.1 0 0 0 /base_footprint /base_link 100"/>
  
  <node pkg="sc_robot" name="goals" type="goals.py" />
  <node pkg="sc_robot" name="init_pose" type="init_pose.py" />
  <include file="$(find rf2o_laser_odometry)/launch/rf2o_laser_odometry.launch"/>  
  <include file="$(find sc_robot)/launch/navigate.launch" />
</launch>
