<launch>
    <!-- Map server -->
    <arg name="map_file" default="/home/one/map_mini_robofest2020.yaml"/>
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)" />

    <!-- AMCL used for localization -->
    <include file="$(find sc_robot)/launch/include/amcl.launch" />
    
    <include file="$(find sc_robot)/launch/include/move_base/move_base_ackermann.launch" />
</launch>
